.call-to-action {
	label {
		font-size: 14px;
		text-transform: uppercase;
	}
	h2 {
	    font-size: 46px;
	    font-weight: 600;
	    margin: 0 0 15px;
	    @include down-md {
	    	font-size: 36px;
	    }
	    @include down-sm {
	    	font-size: 32px;
	    }
	}
	h3 {
		font-size: 40px;
		font-weight: 600;
		margin: 0 0 15px;
	}
	h4 {
		font-size: 35px;
		font-weight: 600;
		margin: 0 0 15px;
	}
	h5 {
	    font-size: 26px;
	    font-weight: 600;
	    margin: 0 0 5px;
	}
	p {
		&.large {
			font-size: 16px;
		}
	}
	.btn-bar {
		padding-top: 8px;
		.m-btn {
			min-width: 170px;
		}
	}
}