.border-top {
	border-top: 1px solid #ddd;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.border-top-dotted {
	border-top: 2px dotted #ddd;
}
.border-bottom-dotted {
	border-bottom: 2px dotted #ddd;
}

.border-top-dashed {
	border-top: 2px dashed #ddd;
}
.border-bottom-dashed {
	border-bottom: 2px dashed #ddd;
}